body {
    margin: 0;
}

/* ---------------------------------TOPO PRETO ----------------------------- */

.topo {
    height: 30px;
    background-color: #333;
}

.topoConteudo {
    margin: auto;
    width: 100%;
    max-width: 1040px;
    height: 30px;
}

.topoEsquerda {
    width: 50%;
    height: 30px;
    float: left;
}
.topoDireita {
    width: 50%;
    height: 30px;
    float: right;
}

.topoDireita a {
    height: 28px;
    margin-top: 2px;
    float: right;
    background-color: #ff0000;
    border-radius: 5px;
}

.topoDireita input {
    width: 117px;
    height: 23px;
    outline: 0;
    border-radius: 5px;
    float: right;
}

.topoEsquerda ul {
    margin: 0;
    padding: 0;
}

.topoEsquerda li {
    list-style: none;
    display: inline;
    line-height: 30px;
    margin-left: 8px;
    margin-right: 8px;
}

.topoEsquerda li:hover {
    color: #1fa0bd;
}

.topoEsquerda li a {
    color: #fff;
    text-decoration: none;
}

.topoEsquerda li a:active {
    color: #0000ff;
}

/* ---------------------------------TOPO PRETO ----------------------------- */

/* ---------------------------------TOPO LOGO ----------------------------- */

.topoPublicidade {
    height: 100px;
}

.topoPublicidadeConteudo {
    margin: auto;
    width: 100%;
    max-width: 1040px;
    height: 100px;
}

.logo {
    width: 35%;
    height: 100px;
    float: left;
}

.publi {
    width: 65%;
    height: 100px;
    float: right;
}

/* ---------------------------------TOPO LOGO ----------------------------- */

/* ---------------------------------TOPO MENU ----------------------------- */

.menu {
    height: 43px;
    background-color: #ff0000;
}

.menuConteudo {
    width: 100%;
    max-width: 1040;
    height: 43px;
    float: left;
}

/* ---------------------------------TOPO MENU ----------------------------- */