body {
    margin: 0;
}

/* ---------------------------------TOPO PRETO ----------------------------- */

.topo {
    height: 30px;
    background-color: #333;
}

.topoConteudo {
    margin: auto;
    width: 100%;
    max-width: 1040px;
    height: 30px;
}

.topoEsquerda {
    width: 50%;
    height: 30px;
    float: left;
}

.topoEsquerda ul {
    margin: 0;
    padding: 0;
}

.topoEsquerda li {
    list-style: none;
    display: inline;
    line-height: 30px;
    margin-left: 8px;
    margin-right: 8px;
}

.topoEsquerda li:hover {
    color: #1fa0bd;
}

.topoEsquerda li a {
    color: #fff;
    text-decoration: none;
}

.topoEsquerda li a:active {
    color: #0000ff;
}

.topoDireita {
    width: 50%;
    height: 30px;
    float: right;
}

.topoDireita a {
    height: 26px;
    margin-top: 2px;
    float: right;
    background-color: #ff0000;
    border-radius: 5px;
    margin-left: 3px;
}

.topoDireita input {
    width: 117px;
    height: 23px;
    outline: 0;
    border-radius: 5px;
    float: right;
}
/* ---------------------------------TOPO PRETO ----------------------------- */

/* ---------------------------------TOPO publicidade ----------------------------- */

.topoPublicidade {
    height: 95px;
}

.topoPublicidadeConteudo {
    margin: auto;
    width: 100%;
    max-width: 1040px;
    height: 95px;
}

.logo {
    width: 230px;
    height: 88px;
    float: left;
    margin-top: 7px;
}

.topoPublicidade .banner {
    width: 650px;
    height: 80px;
    float: right;
    margin-top: 7px;
    background-color: #ff0000;
}

/* ---------------------------------TOPO publicidade ----------------------------- */

/* ---------------------------------TOPO MENU ----------------------------- */

.menu {
    height: 40px;
    background-color: #ff0000;
}

.menuConteudo {
    margin: auto;
    width: 100%;
    max-width: 1040px;
    height: 40px;
}

.menuConteudo ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.menuConteudo li {
    display: inline;
    float: left;
    line-height: 40px;
    margin-left: 5px;
    margin-right: 5px;
}

.menuConteudo a {
    text-decoration: none;
    color: #fff;
}

.menuConteudo li:hover .subMenu {
    display: block;
}

.subMenu {
    width: 150px;
    background-color: #ff0000;
    position: absolute;
    display: none;
}

.subMenuItem {
    height: 30px;
    line-height: 30px;
    padding-left: 10px;
}

.subMenuItem:hover {
    background-color: #ff2222;
}

/* ---------------------------------TOPO MENU ----------------------------- */