footer{
    background-color: #cccccc;
    height: 150px;
    text-align: center;
    line-height: 150px;
}
nav{
    background-color: #f8f88f;
    height: 50px;
    line-height: 50px;
    text-align: right;
}
section{
    background-color: brown;
    height: 100px;

    margin-bottom: 10px;
}
LTS{
    font-size: 20px;
    color: #fff;
    background-color: #00ff00;
    display: block;
    height: 110px;
}

.response {
    left: 100px;
    width: 1000px;
    height: 400px;
    background-color: #000000;
    color: #fff;
}

@media only screen and  (max-width:600px) {
    .response {
        background-color: #ff0f00;
        color: #000000;
        width: 200px;
        height: 100px;

    }
}